$font-size: 1em;
$font-variant: small-caps;
$font-spacing: 0.05em;
$font-stack: 'Roboto', sans-serif;
$btn-font: 'Roboto', 'sans-serif';
$background-color: #f7fbfc;
$border-color: #769fcd;
$text-color: #2d4263;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color !important;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

//Loading component

.loading-screen {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.spinner-border {
  width: 8em;
  height: 8em;
}

//Home component

.home-container {
  height: fit-content;
  margin: 5%;
  padding: 4% 2%;
  border: 4px solid $border-color;
  border-radius: 5px;

  .contacts-container {
    list-style-type: none;
    padding-inline: 1rem;
  }

  .contacts-line {
    margin-block: 1rem;
    padding-block: 1rem;
    border: 2px solid $border-color;
    border-radius: 2%;
    font-weight: 500;
    font-variant: $font-variant;
    letter-spacing: $font-spacing;
  }

  a {
    display: block;
    padding-inline-start: 0.8rem;
    text-decoration: none;
    color: inherit;

    .icons {
      float: right;
      padding-inline-end: 0.5rem;
    }

    .icon {
      padding-inline: 0.3rem;
      font-size: 1.1em;
    }

    .fa-edit {
      color: green;
      opacity: 0.7;
    }

    .fa-trash-alt {
      color: orangered;
      opacity: 0.7;
    }
  }
}

//Contact page

.contact-container {
  height: fit-content;
  margin: 2%;
  padding: 2% 1%;
  border: 4px solid $border-color;
  border-radius: 5px;

  .contact-name {
    padding-block: 1.2em;
    padding-inline-start: 0.8em;
    font-size: 1.3em;
    font-weight: 700;
    font-variant: $font-variant;
    letter-spacing: $font-spacing;
    color: $text-color;
  }

  .contact-details {
    padding-block: 1em;
    font-variant: $font-variant;
    font-size: 1.2em;
    letter-spacing: $font-spacing;
  }

  .email {
    padding-block: 0.7em !important;
  }
  .number {
    font-size: $font-size;
  }
}

//Nav component

.nav-container {
  padding: 0.5rem;

  .nav-item {
    padding-inline: 0.125rem;

    img {
      margin-right: 1.6rem;
      width: 50px;
      height: 50px;
    }

    button {
      font-weight: 500;
      font-variant: $font-variant;
      letter-spacing: $font-spacing;
    }

    .add-btn {
      margin-block-start: 0.3rem;
    }

    .home-btn {
      margin-inline-start: 1rem;
    }

    .search-btn {
      margin-inline-start: 1rem;
    }

    .container-fluid {
      padding-inline-start: 1rem;
      padding-top: 0.3rem;
      margin-left: 0.5rem;

      input {
        font-variant: $font-variant;
      }
    }

    .nav-title {
      font-size: 1.7em;
      font-variant: $font-variant;
      font-family: $font-stack;
      letter-spacing: $font-spacing;
      color: $text-color;
      margin-inline-start: 1rem;
    }
  }
}

//Add Contact Form

.contact-form-container {
  height: fit-content;
  margin: 2%;
  padding: 2% 1%;
  border: 4px solid $border-color;
  border-radius: 5px;

  .field {
    padding-block: 0.5rem;
    padding-inline-end: 0.2rem;

    ::placeholder {
      font-size: $font-stack;
      font-variant: $font-variant;
      letter-spacing: $font-spacing;
      color: $text-color;
    }
  }

  .email-field {
    margin-bottom: 1em;
  }
}

.invalid-feedback {
  padding-inline-start: 0.2rem;
}

.submit-btn {
  font-size: 1.2em;
  font-variant: $font-variant;
  font-family: $font-stack;
  letter-spacing: 0.1em;
  font-weight: 500;
}
